<div class="flex items-center gap-4 mb-6">
    <div class="bg-red-500/10 p-3 rounded-full">
        <svg xmlns="http://www.w3.org/2000/svg" class="size-8 text-red-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
        </svg>
    </div>
    <div>
        <h1 class="text-xl font-bold">Something went wrong</h1>
        <p>{{message}}</p>
    </div>
</div>
<div class="flex gap-2">
    <a href="https://npmx.dev" class="px-6 py-2 bg-[#fafafa] text-[#0a0a0a] font-semibold rounded-lg hover:bg-white transition-colors">
        Back to Home
    </a>
    <a href="/?force=true" class="px-6 py-2 border border-[#fafafa] text-[#fafafa] font-semibold rounded-lg">
        Try again
    </a>
</div>
